<div class="body">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxfLayout="row">
            <h2>{{dialogData.action}} Gelerie</h2>
            <span class="spacer"></span>
            <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="galerieForm">
            
                <div fxFlex fxLayout="column">
                    <mat-form-field fxFlex>
                        <mat-label>Photo</mat-label>
                        <input matInput formControlName="photo" required>
                        <mat-error *ngIf="galerieForm.controls.photo.touched && galerieForm.controls.photo.invalid">
                            <span *ngIf="galerieForm.controls.photo.errors.required">Ce champ est obligatoire.</span>
                            <span *ngIf="galerieForm.controls.photo.errors.pattern">Ce champ est invalide.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="column">
                    <mat-form-field fxFlex>
                        <mat-label>Titre</mat-label>
                        <input matInput formControlName="titre" required>
                        <mat-error *ngIf="galerieForm.controls.titre.touched && galerieForm.controls.titre.invalid">
                            <span *ngIf="galerieForm.controls.titre.errors.required">Ce champ est obligatoire.</span>
                            <span *ngIf="galerieForm.controls.titre.errors.pattern">Ce champ est invalide.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="column">
                    <mat-form-field fxFlex>
                        <mat-label>Date</mat-label>
                        <input matInput formControlName="date" required>
                        <mat-error *ngIf="galerieForm.controls.date.touched && galerieForm.controls.date.invalid">
                            <span *ngIf="galerieForm.controls.date.errors.required">Ce champ est obligatoire.</span>
                            <span *ngIf="galerieForm.controls.date.errors.pattern">Ce champ est invalide.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
    
            
        </form>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button class="done" type="submit" (click)="handleSubmit()" [disabled]="!(galerieForm.valid )">
            <mat-icon>save</mat-icon> {{action}}
        </button>
        <button mat-raised-button class="close" mat-dialog-close>
            <mat-icon>cancel</mat-icon> Close
        </button>
    </mat-dialog-actions>
    </div>