<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card-1">
                <div class="container">
                    <h2 class="title">Notre Equipe</h2>
                    
                    <p><button class="button" [routerLink]="['/cafe/joueur']">Voir Equipe</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-2">
                <div class="container">
                    <h2 class="title">Tournois</h2>
                   
                    <p><button class="button" [routerLink]="['/cafe/product']">Voir Tournois</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-3">

                <div class="container">
                    <h2 class="title">Calendrier</h2>
        
                    <p><button class="button" [routerLink]="['/cafe/bill']">Voir Calendrier</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-4">

                <div class="container">
                    <h2 class="title">Classement</h2>
        
                    <p><button class="button" [routerLink]="['/cafe/bill']">Voir Classement</button></p>
                </div>
            </div>
        </div>


    </div>
</body>