<div class="body"> 
   <mat-toolbar color="primary">
        <mat-toolbar-row fxlayout="row">
            <h2 data-text="Mot de pass oublié?">Mot de pass oublié?</h2>
            
        </mat-toolbar-row>
    </mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxflex fxLayout="column">
            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">Ce champ est obligatoire.</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Ce champ est invalide.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!--La propriété disabled est utilisée pour désactiver le bouton si le formulaire n'est pas valide
     valid retourne true si toutes les règles de validation sont respectées, 
     et dirty retourne true si l'utilisateur a modifié les valeurs de certains champs du formulaire.-->
    <button mat-raised-button class="envoyer" color="primary" type="submit" *ngIf="this.isButtonVisible" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
        <mat-icon>send</mat-icon> Envoyer Mot de passe 
    </button>
    <button mat-raised-button class="close"  mat-dialog-close>
        <mat-icon>cancel</mat-icon> Annuler
    </button>
</mat-dialog-actions>

</div>
