
<!--<div class="wrapper sticky">
    <nav class="navbar-fixed-top">
        <a href="../../assets/img/logo.png" class="logo">
      <div><img src="../../assets/img/logo.png" alt=""/></div> 
        </a>
        <ul>
            <li>
                
                <a>Accueil</a>
                <a>Tournois</a>
                <a>Equipe</a>
                <a (click)="handleLoginAction()">Se connecter</a>
                <a (click)="handleSignupAction()">S'inscrire</a>
                <a (click)="handleforgotPasswordAction()">Forgot Password</a>
            </li>
        </ul>
    </nav>
</div>
<div class="footer" id="signup">
</div>-->
<mat-toolbar class="nav">
    <span><img src="../../assets/img/logo.png" alt="12"/></span>
    <div class="spacer"></div>
    <a mat-button>Accueil</a>
    <a mat-button>Tournois</a>
    <a mat-button>Equipe</a>
    <a mat-button (click)="handleLoginAction()">Se connecter</a>
    <a mat-button (click)="handleSignupAction()">S'inscrire</a>
    <a mat-button (click)="handleforgotPasswordAction()">Mot de passe oublié?</a>
</mat-toolbar>