<div class="body">
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <h2 data-text="Deconnexion">Deconnexion</h2>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <h6>Vous etes sure de se deconnecter?</h6>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="confirmer"  (click)="handleChangeAction()">
        <mat-icon>check_circle</mat-icon> Oui
    </button>
    <button mat-raised-button class="close"  mat-dialog-close>
        <mat-icon>cancel</mat-icon> Non
    </button>
</mat-dialog-actions>
</div>